body {
  font-size: 1em;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial;
  font-size: 1.05em;
  padding: 10px 15px;
}

table td {
  text-align: center;
}

h1 {
  color: brown;
}

p {
  font-family: Arial;
  font-size: 1.2em;
}

ul > li {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
